<meta charset="UTF-8"> <!-- for HTML5 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected>中文 Chinese </option>
    <option value="1">英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">

    <title>关于我</title>
    <font size="6">
        <p align="center">
            <b>关于我</b>
        </p>
    </font>

    <!--copied from markdown -->
    <blockquote>
        <p><i>如果真爱有颜色，那一定是蓝色！</i></p>
    </blockquote>

    <p>Hey，我是<strong>圈住圈九酱(TaylorTaurus)</strong>。<p/>
    
    <p>这是我的利用 <a href="https://pages.github.com/">GitHub Pages</a> & <a href="https://coding.net/v1/pages/">Coding Pages</a> 与 <a href="https://hexo.io/">Hexo</a> 搭建的个人博客，选择的主题是 <a href="https://github.com/theme-next/hexo-theme-next">Next-Gemini</a>。</p>
        
    <p>我在GitHub主页 <a href="https://github.com/taylortaurus"><b>👉GitHub·TaylorTaurus</b></a> ，或是点击右上角的 <a href="https://octodex.github.com/"><b>章鱼猫(Octoact)</b></a>也可以跳转，记得送点小星星啦！</p>

    <p>喜欢宅在家，大口大口喝可乐，彻夜彻夜追番！不看美漫漫画的漫威电影宇宙脑残粉、萝卜脑残粉、雷姆党。</p>

    {% meting "2322910465" "netease" "playlist" "autoplay" "mutex:true" "listmaxheight:180px" "order:random"%}

    <b>感谢：</b>

    <ul>
        <li><a href="https://github.com/">GitHub</a></li>
        <li><a href="https://pages.github.com/">GitHub Pages</a></li>
        <li><a href="https://coding.net/v1/pages/">Coding Pages</a></li>
        <li><a href="https://hexo.io/">Hexo</a></li> 
        <li><a href="https://github.com/theme-next/hexo-theme-next">Next</a></li>
    </ul>

    <b>建站日志：</b>

    <ul>
        <li>2017-11-11，购买域名：<a href="https://www.taylortaurus.top">taylortaurus.top</a>。</li>
        <li>2017-11-11，fork了黄轩的Jekyll主题：<a href="https://github.com/Huxpro/huxpro.github.io">huxpro.github.io </a>，顺利得搭建了自己的个人博客。</li>
        <li>2018-04-05，将博客迁移到Hexo的Next主题上，可玩性比Jekyll多多了。</li>
    </ul>
</div>

<!-- English Version -->
<div class="en">

    <title>About Me</title>
    <font size="6">
        <p align="center">
            <b>About Me</b>
        </p>
    </font>

    <blockquote>
        <p><i>If love has colors, it must be blue.</i></p>
    </blockquote>

    <p>Hey, I am <strong>TaylorTaurus</strong>, you can call me <strong>Taurus.</strong><p/>
    
    <p>This is my personal blog, through making <a href="https://pages.github.com/">GitHub Pages</a> , <a href="https://coding.net/v1/pages/">Coding Pages</a> and <a href="https://hexo.io/">Hexo</a>, theme is <a href="https://github.com/theme-next/hexo-theme-next">Next-Gemini</a>.</p>
        
    <p>My GitHub page is<a href="https://github.com/taylortaurus"><b>👉GitHub·TaylorTaurus</b></a>, you can also click top right corner <a href="https://octodex.github.com/"><b> Octoact </b></a> to jump, thx for giving me some stars.</p>

    <p>Love comics, Marvel Cinematic Universe fans, maybe レ ム の 夫.</p>

    {% meting "2322910465" "netease" "playlist" "autoplay" "mutex:true" "listmaxheight:180px" "order:random"%}

    <b>Gratitude:</b>

    <ul>
        <li><a href="https://github.com/">GitHub</a></li>
        <li><a href="https://pages.github.com/">GitHub Pages</a></li>
        <li><a href="https://coding.net/v1/pages/">Coding Pages</a></li>
        <li><a href="https://hexo.io/">Hexo</a></li> 
        <li><a href="https://github.com/theme-next/hexo-theme-next">Next</a></li>
    </ul>

    <b>Site log:</b>

    <ul>
        <li>2017-11-11, Purchased a domain name<a href="https://www.taylortaurus.top"> taylortaurus.top</a>.</li>
        <li>2017-11-11, Forked hux's Jekyll blog theme<a href="https://github.com/Huxpro/huxpro.github.io"> huxpro.github.io </a>and set up my personal blog.</li>
        <li>2018-04-05, Moved blog to Hexo's Next theme which has a lot more playability than Jekyll.</li>
    </ul>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>
